<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" type="text/css" href="../static/css/index.css">
</head>

<body>

    <div class="main">

        <div class="container">

            <!-- Fixed parallax -->
            <div class="parallaxBanner"></div>

            <!-- Navigation Menu -->
            <div class="nav-parent">

                <div class="logo"><img src="../static/images/my-StakYota Technologies.png"></div>
                <div class="nav-menu">
                    <a class="nav-item menu-active" href="index.html">Home</a>
                    <a class="nav-item" href="about.html">About Us</a>
                    <a class="nav-item" href="services.html">Services</a>
                    <a class="nav-item" href="team.html">Team</a>
                    <a class="nav-item" href="contact.html">Contact Us</a>
                </div>
            </div>

            <!-- Banner -->
            <div class="bannerParent">
                <div class="bannerInner">
                    <div class="bannerHeading"> "Designing the Future of Business – Empowering You for Success." </div>
                    <div class="bannerSubtext"></div>
                    <div class="bannerLink"><a href="about.html">Learn More <img src="../static/images/right-arrow.svg"
                                width="20px" height="20px" alt=""></a></div>
                </div>
            </div>

            <div class="p60"></div>

            <!-- Center banner showing parallax -->
            <div class="architecturBanner">
                <div class="architectureBannerInfo">
                    <div class="architectureBannerInfoHead">Start Your Journey Here!</div>
                    <div class="architectureBannerInfoDesc"> Your one-stop destination for all your web design, web
                        development, and mobile app development needs. We specialize in creating stunning websites and
                        powerful mobile applications for both Android and iOS platforms. Whether you're looking to
                        establish your online presence, launch an e-commerce store, or develop a custom web application,
                        we've got you covered.
                    </div>
                    <div class="architectureBannerInfoLink"><a href="contact.html">Contact Us <img
                                src="../static/images/right-arrow-white.svg" width="20px" height="20px" alt=""></a>
                    </div>
                </div>
            </div>

            <!-- Individial sections for services -->
            <article class="articalIndividiual">
                <div class="articalIndividiualHead">Welcome to StakYota</div>
                <div class="serviceSection webDesign" id="webDesign">
                    <div class="serviceSectionImg webDesignImage"><img src="../static/images/home-banner-1.jpg" alt="">
                    </div>
                    <div class="serviceSectionText webDesignText">
                        <div class="serviceSectionTextHead">What we Do?</div>
                        <div class="serviceSectionTextInfo">At StakYota, we pride ourselves on delivering top-notch
                            solutions that exceed our clients' expectations. Our team of experts is dedicated to
                            providing personalized attention, timely communication, and exceptional customer support
                            throughout the project lifecycle. We are committed to your success and strive to deliver
                            solutions that drive growth, enhance user engagement, and achieve tangible results.
                        </div>
                    </div>
                </div>
                <div class="serviceSection webDev" id="webDev">
                    <div class="serviceSectionText webDesignText">
                        <div class="serviceSectionTextHead">Our Goals ...</div>
                        <div class="serviceSectionTextInfo">We prioritize customer satisfaction and strive to deliver
                            solutions that meet your specific requirements. Our team is committed to providing timely
                            communication, transparent project management, and excellent customer support. We work
                            closely with you to understand your goals and objectives, ensuring that the final product
                            aligns with your vision. Our aim is to establish long-term relationships with our clients by
                            delivering high-quality solutions that drive their success.
                        </div>
                    </div>
                    <div class="serviceSectionImg webDevImage"><img src="../static/images/home-banner-2.jpg" alt="">
                    </div>
                </div>
                <div class="serviceSection eComm" id="eComm">
                    <div class="serviceSectionImg eCommImage"><img src="../static/images/home-banner-3.jpg" alt="">
                    </div>
                    <div class="serviceSectionText webDesignText">
                        <div class="serviceSectionTextHead">What We Deliver ...</div>
                        <div class="serviceSectionTextInfo">In a software company, we deliver a wide range of solutions
                            and services to meet the needs of our clients. Our primary focus is on custom software
                            development, where we create tailored applications and systems that address specific
                            business requirements. Additionally, we excel in web and mobile app development, crafting
                            user-friendly interfaces and seamless experiences across various platforms. We guide clients
                            in making informed technology decisions and integrating software into their existing
                            infrastructure. Through training and documentation, we empower users to fully utilize and
                            maximize the benefits of our software solutions. At our software company, we are committed
                            to delivering high-quality, innovative, and customer-centric products and services.
                        </div>
                    </div>
                </div>

            </article>

            <!-- Bottom Banner showing parallax -->
            <div class="bottomBanner">
                <div class="bottomBannerMessage">
                    <img src="../static/images/my-Collaborate and Create.png" alt="">
                    <div class="bottomBannerLink"><a href="team.html">Our Team <img
                                src="../static/images/right-arrow.svg" width="20px" height="20px" alt=""></a></div>
                </div>
            </div>

            <!-- Footer Banner -->
            <div class="footerBanner">
                <div class="footerBannerTopSection">
                    <div class="address">
                        <div class="stakyota">STAKYOTA TECHNOLOGIES</div>
                        <div class="city">Marathahalli, Bangalore, 560037</div>
                        <div class="state">Karnataka (India)</div>

                        <div class="mobile">Mobile : +91-7899677621</div>
                        <div class="email"> Email: stakyota@gmail.com</div>
                    </div>

                    <div class="usefulLinks">
                        Useful Links
                        <div><a href="index.html">Home</a></div>
                        <div><a href="about.html">About</a></div>
                        <div><a href="services.html">Services</a></div>
                        <div><a href="team.html">Team</a></div>
                        <div><a href="contact.html">Contact Us</a></div>
                        <div><a href="careers.html">Careers</a></div>
                    </div>

                    <div class="services">
                        Services
                        <div><a href="services.html?#webDesign">Web Design</a></div>
                        <div><a href="services.html?#webDev">Web Development</a></div>
                        <div><a href="services.html?#eComm">E-Commerce Solutions</a></div>
                        <div><a href="services.html?#androidApp">Android Apps</a></div>
                        <div><a href="services.html?#iosApp">IOS Apps</a></div>

                    </div>

                    <div class="footerSocial">
                        <div class="social">Social Networks</div>
                        <div class="footerSocialLinks">
                            <a href="facebook"><img src="../static/images/facebook icon.svg"></a>
                            <a href="twitter"><img src="../static/images/twitter.svg"></a>
                            <a href="instagram"><img src="../static/images/instagram icon.svg"> </a>
                            <a href="linkedin"><img src="../static/images/linkedin icon.svg"></a>
                            <a href="youtube"><img src="../static/images/youtube.svg"></a>

                        </div>
                    </div>
                </div>
                <div class="footerBannerBottomSection">
                    <div>Copyright © Stakyota 2023</div>
                    <div class="separator">|</div>
                    <div>All Rights Reserved</div>
                    <div class="separator">|</div>
                    <div>Designed by stakyota</div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>